<!DOCTYPE html>
<html>
<head>
    <title>
        Connect
    </title>
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">  

    <link rel="stylesheet" href="https://d3cuh014go2nda.cloudfront.net/global/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" href="/styles/loader.css">
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
        window.heap = window.heap || [], heap.load = function(e, t) {
            window.heap.appid = e, window.heap.config = t = t || {};
            var r = t.forceSSL || "https:" === document.location.protocol,
                a = document.createElement("script");
            a.type = "text/javascript", a.async = !0, a.src = (r ? "https:" : "http:") + "//cdn.heapanalytics.com/js/heap-" + e + ".js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(a, n);
            for (var o = function(e) {
                    return function() {
                        heap.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                    }
                }, p = ["addEventProperties", "addUserProperties", "clearEventProperties", "identify", "resetIdentity", "removeEventProperty", "setEventProperties", "track", "unsetEventProperty"], c = 0; c < p.length; c++) heap[p[c]] = o(p[c])
        };
        heap.load("490363613");
    </script>
     <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" async src="https://www.googletagmanager.com/gtm.js?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>


</head>

<body class>

    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ5D84C&nonce=Hg5F/VDpALFrdOCYRvBAvQ==" height="0" width="0" style="display:none;visibility:hidden;"></iframe></noscript>




    <nav class="fg-header navbar top-navbar navbar-toggleable-sm navbar-light p-20 bg-white">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-start align-middle p-l-5">
            <a class="navbar-brand p-0" href="#">
<img src="" class="logo" alt="logo" style="max-height:35px">
</a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end align-middle p-r-0">
            <div class="fg-user-menu d-flex justify-content-end">
                <div class="dropdown m-r-15">
                    <i class="fas fa-th border text-secondary rounded p-10" data-toggle="dropdown"></i>
                    <div class="dropdown-menu dropdown-menu-right font-15 text-bodycolor border-0 p-0 m-t-15" aria-labelledby="dropdownMenuLink">
                        <div class="card-body">
                            <div class="d-flex">
                                <a class="dropdown-item text-center p-30 p-t-20 p-b-20 rounded w-50" href="/access?project=connect" target="_blank">
<img class="mx-auto d-block m-b-10 product-img" src="https://d3cuh014go2nda.cloudfront.net/assets/images/svg/connect.svg" />
<p class="m-b-0">Connect</p>
</a>
                                <a class="dropdown-item text-center p-30 p-t-20 p-b-20 rounded w-50" href="" target="_blank">
<img class="mx-auto d-block m-b-10 product-img" src="https://d3cuh014go2nda.cloudfront.net/assets/images/svg/billing.svg" />
<p class="m-b-0">Subscription<br>Billing</p>
</a>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <a class="dropdown-item text-center p-30 p-t-20 p-b-20 rounded w-50" href="/access?project=mailget" target="_blank">
<img class="mx-auto d-block m-b-10 product-img" src="https://d3cuh014go2nda.cloudfront.net/assets/images/svg/pem.svg" />
<p class="m-b-0">Email<br>Marketing</p>
</a>
                                <a class="dropdown-item text-center p-30 p-t-20 p-b-20 rounded w-50" href="/access?project=formget" target="_blank">
<img class="mx-auto d-block m-b-10 product-img" src="https://d3cuh014go2nda.cloudfront.net/assets/images/svg/pfb.svg" />
<p class="m-b-0">Form<br>Builder</p>
</a>
                            </div>
                            <hr>
                            <div class="d-flex">
                                <a class="dropdown-item text-center p-30 p-t-20 p-b-20 rounded w-50" href="/access?project=emailverify" target="_blank">
<img class="mx-auto d-block m-b-10 product-img" src="https://d3cuh014go2nda.cloudfront.net/assets/images/svg/pev.svg" />
<p class="m-b-0">Email<br>Verification</p>
</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fg-user-nav-wrap align-self-center">
                    <div class="toast fade hide" data-delay="1000">
                        <div class="toast-header">
                            Toast Header
                        </div>
                        <div class="toast-body">
                            Some inside this body
                        </div>
                    </div>
                    <div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="dangerModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center m-b-20 m-t-30">
                                    <i class="fas fa-exclamation-circle text-danger font-50 m-b-25"></i>
                                    <h2 class="text-bodycolor">Error</h2>
                                    <span class="font-15 text-secondary error-message"></span>
                                </div>
                                <div class="modal-footer border-primary2">
                                    <button type="button" class="btn btn-white text-secondary border font-15" data-dismiss="modal">CLOSE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <img class="rounded-circle m-w-35 avatar-img" src="//www.gravatar.com/avatar/9ef7cb630b294dc458d676560e96d060?d=http%3A%2F%2Faccounts.pabbly.com%2Fimages%2Fdefault-profile-pic.png" alt="Profile Picture" data-toggle="dropdown">
                        <div class="my-profile dropdown-menu dropdown-menu-right font-14 border-0 text-bodycolor m-t-10" aria-labelledby="dropdownMenuLink">
                            <div class="user-info-wrap d-flex p-t-15 p-20 border-bottom-primary2">
                                <img id="user_image" src="//www.gravatar.com/avatar/9ef7cb630b294dc458d676560e96d060?d=http%3A%2F%2Faccounts.pabbly.com%2Fimages%2Fdefault-profile-pic.png" class="rounded-circle">
                                <div class="user-info p-l-10">
                                    <p class="text-bodycolor font-demi font-15 m-0">
                                        {{user.name}}</p>
                                    <span class="font-12 text-secondary"><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="731d120a12181d121a1d124a44464633141e121a1f5d101c1e">[email&#160;protected]</a></span>
                                </div>
                            </div>
                            <a class="dropdown-item p-t-15 p-b-15 border-bottom-primary2" href="/profile">
<i class="fas fa-user-circle text-secondary font-16 m-r-10"></i>My Account</a>
                            <a id="my_subscription_access" data-customer_id="66aa7f6c4c4b6335299ad1d1" class="dropdown-item p-t-15 p-b-15 border-bottom-primary2" href="#" target="_blank">
<i class="fas fa-comment-dollar text-secondary font-16 m-r-10"></i>
My Subscription
</a>
                            <a class="dropdown-item p-t-15 p-b-15" href="/logout/">
<i class="fas fa-arrow-circle-right text-secondary font-16 m-r-10"></i>Log Out</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="fg-main-sidebar-wrap col-xl-1 col-lg-1 col-md-1 p-l-0 p-r-0 d-lg-block d-none">
                <div id="fg-sidebar" class="bg-bodycolor h-100">
                    <ul class="fg-sidebar-menu p-0 sticky">
                         <li id="apps" class="sidebar-list-item text-center active">
                            <a href="/apps" class="fg-list-item p-t-15 p-b-15 d-block">
<i class="fa fa-home text-white font-20"></i>

<span class="m-t-5 text-center d-block text-white font-12">Home</span>
</a>
                        </li>
                        <li id="apps" class="sidebar-list-item text-center ">
                            <a href="/apps" class="fg-list-item p-t-15 p-b-15 d-block">
<i class="fas fa-globe text-white font-20"></i>
<span class="m-t-5 text-center d-block text-white font-12">All Apps</span>
</a>
                        </li>
                        <li id="profile" class="sidebar-list-item text-center">
                            <a href="/profile" class="fg-list-item p-t-15 p-b-15 d-block">
<i class="fas fa-user-circle text-white font-20"></i>
<span class="m-t-5 text-center d-block text-white font-12">Account</span>
</a>
                        </li>
                        <li id="" class="sidebar-list-item text-center">
                            <a href="#team-section" class="fg-list-item p-t-15 p-b-15 d-block">
<i class="fas fa-user-plus text-white font-20"></i>
<span class="m-t-5 text-center d-block text-white font-12">Team</span>
</a>
                        </li>
                        <li id="profile" class="sidebar-list-item text-center">
                            <a href="/profile" class="fg-list-item p-t-15 p-b-15 d-block">
<i class="fas fa-user-cog text-white font-20"></i>
<span class="m-t-5 text-center d-block text-white font-12">Get help</span>
</a>
                        </li>
                         <li id="profile" class="sidebar-list-item text-center">
                            <a href="/logout" class="fg-list-item p-t-15 p-b-15 d-block">
<i class="fas fa-power-off text-white font-20"></i>
<span class="m-t-5 text-center d-block text-white font-12">Logout</span>
</a>
                        </li>
                    </ul>
                </div>
                <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
                    $(document).ready(function() {
                        var pathname = window.location.pathname;
                        var path = pathname.replace('/', '');
                        $('ul.fg-sidebar-menu li#' + path).addClass('active');
                    });
                </script>
            </div>
            <div class="fg-main-content-wrap col-xl-11 col-lg-11 col-md-12 p-0">
                <div class="container-fluid bg-white shadow-sm m-b-40">
                    <div class="container">
                        <div class="row page-titles p-t-35 p-b-15">
                            <div class="col-md-12 col-12 align-self-center">
                               <h1 class="text-bodycolor">Welcome To wsv.connect <b> {{user.name}}</b></h1>
                                <p class="text-secondary font-14">Click 'Access Now' to start using any WSV.connect application. You can enjoy complete access  with a single WSV.connect Plus plan. <a target="_blank" rel="noopener noreferrer" href="https://www.pabbly.com/#pricing"><u>Learn more</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container min-vh-100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="tab-content" id="nav-tabContent">

                                <div class="tab-pane fade show active" id="nav-application-tab" role="tabpanel" aria-labelledby="application-tab">
                                    <div class="row">

                                        <div class="clearfix"></div>
                                        
                                        <div class="clearfix"></div>
                                        <div class="col-md-3">
                                            <div class="card border-0">
                                                <div class="card-body text-center p-30">
                                                    <img src="agency.png" class="border-0 product-img" style="width: 80px;height:80px;">
                                                    <h3 class="text-bodycolor m-t-20 m-b-20">WSV.connect Apps</h3>
                                                    <p class="text-secondary font-14 m-b-0">
                                                        Integrate different applications and start automating your work.
                                                    </p>
                                                    <a target="_blank" href="/access?project=connect" class="btn btn-outline-secondary border m-t-25 font-15">Access
Now</a>
                                                </div>
                                            </div>
                                        </div> 

                                    </div>
                                </div>
                            </div>
                            <div class="border-dashed border-light-blue m-t-10"></div>
                            <h2 class="text-bodycolor m-t-30">Exclusive Limited Time Offer</h2>
                            <div class="card m-t-20 border-0">
                                <div class="card-body p-t-20 p-b-20">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="d-flex">
                                                <img class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100" data-cfsrc="/images/robot.png" style="display:none;visibility:hidden;"><noscript><img src="/images/robot.png" class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100"></noscript>
                                                <div class="m-l-15">
                                                    <span class="badge badge-light-green">Limited Time Offer</span>
                                                    <p class="text-bodycolor font-20 m-0">WSV.connect Connect Exclusive One Time Offer</p>
                                                    <span class="font-14 text-secondary">Pay Once & get Lifetime
Access to Pabbly Connect without any Recurring Fee!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                            <div>
                                                <div class="text-bodycolor font-26 font-demi align-middle">$699
                                                </div>
                                                <span class="font-14 font-medium text-secondary">One Time
Payment Plan</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <a href="https://www.pabbly.com/connect-onetime/?utm_source=website&utm_medium=accountdashboard&utm_campaign=pcot" target="_blank" class="btn btn-primary font-15">View Offer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-t-20 m-b-80 border-0">
                                <div class="card-body p-t-20 p-b-20">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-lg-7 col-md-7 col-sm-7">
                                            <div class="d-flex">
                                                <img class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100" data-cfsrc="/images/dollor.png" style="display:none;visibility:hidden;"><noscript><img src="/images/dollor.png" class="rounded-circle img-fluid border-0 w-100 m-w-80 h-100"></noscript>
                                                <div class="m-l-15">
                                                    <span class="badge badge-light-green">Limited Time Offer</span>
                                                    <p class="text-bodycolor font-20 m-0">WSV.connect Billing Exclusive One Time Offer</p>
                                                    <span class="font-14 text-secondary">Pay Once & get Lifetime
Access to Subscription Billing without any Recurring
Fee!</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 text-right">
                                            <div>
                                                <div class="text-bodycolor font-26 font-demi align-middle">$699
                                                </div>
                                                <span class="font-14 font-medium text-secondary">One Time
Payment Plan</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <a href="" target="_blank" class="btn btn-primary font-15">View Offer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12 pl-0 pr-0 pl-sm-3 pr-sm-3">
                        <div class="tab-content" id="team-section">
                            <!--Tab Content Pane 1-->
                            <div class="tab-pane fade show active m-b-45" id="nav-workflow-tab" role="tabpanel" aria-labelledby="workflow-tab">
                                <div class="card">
                                    <div class="card-header p-t-15 p-b-15">
                                        <div class="row align-items-center">
                                            <div class="col-md-5 col-6">
                                                <h3 class="text-bodycolor m-b-0 p-t-5 p-b-5"><span data-toggle="tooltip" data-placement="top" data-original-title="Add team members and share workflow(s) or folder(s) access with them.">Team Members</span></h3>
                                            </div>
                                             <div id="add-member-form" style=" 
            display: none;
        ">
            <form id="member-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit">Submit</button>
            </form>
        </div>
                                            <div class="col-md-7 col-6 text-right pt-1 pt-sm-0 p-l-0 d-flex justify-content-end">
                                                <button id="removeTeamMemberBtn" type="button" data-toggle="tooltip" data-placement="top" data-original-title="Click here to remove team members access." class="btn btn-primary font-15 m-r-10 d-none" onclick="bulk_delete_team_member()">
                                                    <i class="fas fa-minus-circle rounded font-12"></i>
                                                    <span class="m-l-5 d-none d-sm-inline">Remove</span>
                                                </button>
                                                <button type="button" data-toggle="tooltip" data-placement="top" data-original-title="Add A team member and share workflow(s) or folder(s) with them." onclick="show_team_member_modal()" class="btn btn-outline-primary font-15" data-target="#team_member_modal"><i class="fas fa-plus-circle font-12"></i>
                                                    <span class="ml-1 d-none d-sm-inline">Add Team Member</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" card-body ">
                                                                                    <div class="p-20 text-center">
                                                <p class="text-secondary m-b-0">You have not added any team members yet. You can add a team member and share access to workflows or folders with them.</p>
                                            </div>
                                                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            

            <div class="fg-main-footer bg-white border-top w-100">
                <div class="col-md-12">
                    <p class="sub_footer_text m-t-10 m-b-10 text-center"> Copyright © 2024. Web Soft Valley All Rights Reserved
                    </p>
                </div>
            </div>

        </div>
    </div>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.12/js/bootstrap-select.js"></script>

    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="/js/dependencies/sweetalert.min.js?nonce=Hg5F/VDpALFrdOCYRvBAvQ=="></script>



    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/assets/js/timezones.full.min.js"></script>

    <script src="/assets/js/custom-new.js"></script>
    <script>
        
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==" type="text/javascript">
        $(document).ready(function() {
            $('#signup').on('submit', function() {
                $('.loader-display').css('display', 'block');
            });
        });
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
        $(window).scroll(function() {
            if ($(window).scrollTop() >= 72) {
                $('#top_header').addClass('sticky');
            } else {
                $('#top_header').removeClass('sticky');
            }
        });
    </script>
    <script nonce="Hg5F/VDpALFrdOCYRvBAvQ==">
        $('#nav-tab a').click(function(e) {
            e.preventDefault();
            $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
            var id = $(e.target).attr("href").substr(1);
            console.log("id", id);
            window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#nav-tab a[href="' + hash + '"]').tab('show');
    </script>
</body>

</html>