 <div class="fg-main-footer bg-white border-top w-100">
                <div class="col-md-12">
                    <p class="sub_footer_text m-t-10 m-b-10 text-center"> Copyright © 2024. Web Soft Valley All Rights
                        Reserved
                    </p>
                </div>
            </div>