    <div class="container-fluid bg-white shadow-sm m-b-40 breadcrumbs">
                    <div class="container">
                        <div class="row page-titles p-t-35 p-b-15">
                            <div class="col-md-12 col-12 align-self-center">
                                <h1 class="text-bodycolor">Welcome To 360followups <b> {{user.name}}</b></h1>
                                <p class="text-secondary font-14">Smart <strong>CRM Solution</strong>  for Automated Sales Follow-Ups &amp; WhatsApp Engagement
                            </div>
                        </div>
                    </div>
                </div>
                