    <div class="container-fluid bg-white shadow-sm m-b-40 breadcrumbs">
                    <div class="container">
                        <div class="row page-titles p-t-35 p-b-15">
                            <div class="col-md-12 col-12 align-self-center">
                                <h1 class="text-bodycolor">Welcome To 360followups <b> {{user.name}}</b></h1>
                                <p class="text-secondary font-14">Click 'Access Now' to start using any 360followups
                                    application. You can enjoy complete access with a single 360followups Plus plan. <a
                                        target="_blank" rel="noopener noreferrer"
                                        href="https://www.pabbly.com/#pricing"><u>Learn more</u></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                