.ColoredText_component__ZexGD.ColoredText_isGradient__omSSI {
    background: linear-gradient(90deg, #47ccc4, #89c32e 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.UnderlineText_component__Ijf9C {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEyIiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCAzMTIgOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMUwyOTcgNCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxwYXRoIGQ9Ik0wIDVMMjk3IDgiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 0 110%;
    padding-bottom: 10px;
    background-origin: content-box;
    color: #fff
}

.UnderlineText_component__Ijf9C.UnderlineText_hasReversedLook__K9Ema {
    filter: invert(100%)
}

.website-variant-conference .UnderlineText_component__Ijf9C {
    background-position: 0 90%;
    padding-bottom: 0
}

.AccoladeBadgesList_component__DNlX3 {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    gap: 5px;
    min-height: 74px
}

.AccoladeBadgesList_component__DNlX3.AccoladeBadgesList_isCentered__VS3D0 {
    justify-content: center
}

.AccoladeBadgesList_component__DNlX3.AccoladeBadgesList_imageType__PAH_l {
    min-height: 65px
}

@media only screen and (min-width:40.0625em) {
    .AccoladeBadgesList_component__DNlX3 {
        min-height: 86px
    }
    .AccoladeBadgesList_component__DNlX3.AccoladeBadgesList_imageType__PAH_l {
        min-height: 120px
    }
}

.AwardBadge_component__OuMwH {
    text-align: center;
    color: #000
}

.AwardBadge_component__OuMwH.AwardBadge_isLight__XxB4I {
    color: #fff
}

.AwardBadge_logo__n87H_ {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 130px;
    min-height: 47px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain
}

.AwardBadge_title__1R_k_ {
    margin-top: -5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3px;
    max-width: 180px
}

.AwardBadge_isSmall__0Y1Cp .AwardBadge_logo__n87H_ {
    max-width: 100px;
    min-height: 40px
}

.AwardBadge_isSmall__0Y1Cp .AwardBadge_title__1R_k_ {
    font-size: 12px
}

.AwardBadge_isMedium__qgg1G .AwardBadge_logo__n87H_ {
    max-width: none;
    min-height: 65px
}

.AwardBadge_isMedium__qgg1G .AwardBadge_title__1R_k_ {
    font-size: 14px
}

.AwardBadge_isResponsive__5eKOX .AwardBadge_title__1R_k_ {
    max-width: none
}

@media only screen and (min-width:40.0625em) {
    .AwardBadge_isResponsive__5eKOX .AwardBadge_logo__n87H_ {
        max-width: none;
        min-height: 65px
    }
    .AwardBadge_isResponsive__5eKOX .AwardBadge_title__1R_k_ {
        font-size: 14px
    }
}

.ImageBadge_component__mzjiN {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 56px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain
}

@media only screen and (min-width:40.0625em) {
    .ImageBadge_component__mzjiN {
        max-width: 105px;
        height: 120px
    }
}

.RatingStars_component__W0rW5 {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin-left: -.1em;
    margin-right: -.1em;
    line-height: 1;
    color: #000
}

.RatingStars_component__W0rW5.RatingStars_isLight__l3FXc {
    color: #fff
}

.RatingStars_topStarsGroup__ARJxt {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap
}

.RatingStars_bottomStarsGroup__5d2Rd {
    position: relative;
    z-index: 1;
    opacity: .3;
    white-space: nowrap
}

.RatingStars_star__wqxiC {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
    margin-left: .1em;
    margin-right: .1em;
    text-indent: -9999px;
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjIzIiB2aWV3Qm94PSIwIDAgMjQgMjMiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTIuNDc2Mi40ODg2N2MtLjE0ODMtLjQ2MzU0MDYtLjgwNDEtLjQ2MzU0MDYtLjk1MjQgMGwtMi40MTUzNyA3LjU1MDI5aC03LjYzNDk1Yy0uNDc3NzgzIDAtLjY4MzQxLjYwNTk3LS4zMDQzLjg5Njc0bDYuMzQ4ODkgNC44Njk1LTIuNDA4NzQgNy42NTk1Yy0uMTQ3MjkuNDY4NC4zOTgyMi44NDYzLjc4NDk4LjU0MzhsNi4xMDU2OS00Ljc3NDcgNi4yNjE5IDQuODAyN2MuMzg3Ny4yOTc0LjkyNzgtLjA4MDcuNzgxMi0uNTQ2N2wtMi40MTY2LTcuNjg0NiA2LjIzMDUtNC44NzIzN2MuMzc0NS0uMjkyODcuMTY3NC0uODkzODctLjMwOC0uODkzODdoLTcuNjU3NHoiIGZpbGw9IiMwMDAiLz48L3N2Zz4K) no-repeat 50% 50%;
    background-size: contain
}

.RatingStars_isLight__l3FXc .RatingStars_star__wqxiC {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjIzIiB2aWV3Qm94PSIwIDAgMjQgMjMiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTIuNDc2Mi40ODg2N2MtLjE0ODMtLjQ2MzU0MDYtLjgwNDEtLjQ2MzU0MDYtLjk1MjQgMGwtMi40MTUzNyA3LjU1MDI5aC03LjYzNDk1Yy0uNDc3NzgzIDAtLjY4MzQxLjYwNTk3LS4zMDQzLjg5Njc0bDYuMzQ4ODkgNC44Njk1LTIuNDA4NzQgNy42NTk1Yy0uMTQ3MjkuNDY4NC4zOTgyMi44NDYzLjc4NDk4LjU0MzhsNi4xMDU2OS00Ljc3NDcgNi4yNjE5IDQuODAyN2MuMzg3Ny4yOTc0LjkyNzgtLjA4MDcuNzgxMi0uNTQ2N2wtMi40MTY2LTcuNjg0NiA2LjIzMDUtNC44NzIzN2MuMzc0NS0uMjkyODcuMTY3NC0uODkzODctLjMwOC0uODkzODdoLTcuNjU3NHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
    background-size: contain
}

.RatingStars_isColorful__vlvoF .RatingStars_star__wqxiC {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjIzIiB2aWV3Qm94PSIwIDAgMjQgMjMiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtMTIuNDc2Mi40ODg2N2MtLjE0ODMtLjQ2MzU0MDYtLjgwNDEtLjQ2MzU0MDYtLjk1MjQgMGwtMi40MTUzNyA3LjU1MDI5aC03LjYzNDk1Yy0uNDc3NzgzIDAtLjY4MzQxLjYwNTk3LS4zMDQzLjg5Njc0bDYuMzQ4ODkgNC44Njk1LTIuNDA4NzQgNy42NTk1Yy0uMTQ3MjkuNDY4NC4zOTgyMi44NDYzLjc4NDk4LjU0MzhsNi4xMDU2OS00Ljc3NDcgNi4yNjE5IDQuODAyN2MuMzg3Ny4yOTc0LjkyNzgtLjA4MDcuNzgxMi0uNTQ2N2wtMi40MTY2LTcuNjg0NiA2LjIzMDUtNC44NzIzN2MuMzc0NS0uMjkyODcuMTY3NC0uODkzODctLjMwOC0uODkzODdoLTcuNjU3NHoiIGZpbGw9IiNmNGI2M2QiLz48L3N2Zz4=);
    background-size: contain
}

.RatingBadge_component__cZl7x {
    text-align: center
}

.RatingBadge_logo__vKFkH {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 130px;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain
}

.RatingBadge_ratingStars__3NTzy {
    margin-top: -9px;
    font-size: 16px
}

.RatingBadge_isMedium__N1lcU .RatingBadge_logo__vKFkH {
    max-width: none;
    height: 65px
}

.RatingBadge_isMedium__N1lcU .RatingBadge_ratingStars__3NTzy {
    margin-top: -12px;
    font-size: 19px
}

@media only screen and (min-width:40.0625em) {
    .RatingBadge_isResponsive__aGJlR .RatingBadge_logo__vKFkH {
        max-width: none;
        height: 65px
    }
    .RatingBadge_isResponsive__aGJlR .RatingBadge_ratingStars__3NTzy {
        margin-top: -12px;
        font-size: 19px
    }
}

.RotatingElements_component__cu65N {
    position: relative;
    display: grid;
    overflow-y: hidden
}

.RotatingElements_item__8CM5P {
    display: flex;
    flex-direction: column;
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    justify-content: center
}

.AppearAnimation_component__dUnzN.AppearAnimation_isUpDownAnimation__HlPNV {
    animation-name: AppearAnimation_appear-animation-up-down__WjdI7;
    animation-delay: var(--delay, 0ms);
    animation-duration: var(--duration, .5s);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.22, 1, .36, 1)
}

.AppearAnimation_component__dUnzN.AppearAnimation_isRightAnimation__I4aJk div {
    animation-name: AppearAnimation_appear-animation-right__VQ_EZ;
    animation-delay: var(--delay, 0ms);
    animation-duration: var(--duration, .5s);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.22, 1, .36, 1)
}

.AppearAnimation_component__dUnzN.AppearAnimation_stretched__lMz6d {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}

@keyframes AppearAnimation_appear-animation-right__VQ_EZ {
    0% {
        transform: translateX(var(--distance, 20px));
        opacity: 0
    }
    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes AppearAnimation_appear-animation-up-down__WjdI7 {
    0% {
        transform: translateY(var(--distance, 20px));
        opacity: 0
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

.ArticlesCategoryGroup_headline__mAu2F {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #898989
}

.ArticlesCategoryGroup_heading__o1Drx {
    margin-bottom: 10px
}

.ArticlesCategoryGroup_blurb__8DXMR {
    margin-bottom: 18px;
    line-height: 1.6;
    font-weight: 400;
    font-size: 1rem
}

.ArticlesCategoryGroup_overviewLink__DJG_0 {
    font-size: .8125rem
}

.ArticlesCategoryGroup_articlesCaption__XMBww {
    margin-bottom: 18px;
    line-height: 1.6;
    font-weight: 700;
    font-size: 1rem
}

@media only screen and (min-width:40.0625em) {
    .ArticlesCategoryGroup_headline__mAu2F {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        text-align: left
    }
    .ArticlesCategoryGroup_heading__o1Drx {
        margin-bottom: 15px
    }
    .ArticlesCategoryGroup_articlesCaption__XMBww,
    .ArticlesCategoryGroup_blurb__8DXMR {
        font-size: 1.25rem
    }
    .ArticlesCategoryGroup_overviewLink__DJG_0 {
        font-size: 1.125rem
    }
    .ArticlesCategoryGroup_articlesCaption__XMBww {
        margin-bottom: 20px
    }
}

@media only screen and (min-width:73.0625em) {
    .ArticlesCategoryGroup_headlineDetails__WMEc0 {
        display: flex;
        gap: 20px;
        justify-content: space-between
    }
    .ArticlesCategoryGroup_blurb__8DXMR {
        margin-bottom: 0
    }
    .ArticlesCategoryGroup_overviewLink__DJG_0 {
        flex: none
    }
}

.CategoryLabel_component__r_zP3 {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    font-weight: 400
}

.CategoryLabel_component__r_zP3.CategoryLabel_isDark__BDJlX {
    color: #fff
}

.CategoryLabel_component__r_zP3.CategoryLabel_isHighlighted__oVlOC {
    padding: .52em;
    border: 1px solid #060606;
    background-color: var(--bg, )
}

.CategoryLabel_component__r_zP3.CategoryLabel_hasCircleGreen__tMO44:before {
    background-color: #89c32e;
    content: "";
    height: .8em;
    width: .8em;
    border-radius: 50%;
    display: inline-block;
    margin-right: .4em
}

.CategoryLabel_icon__JbLsZ {
    display: inline-flex;
    vertical-align: middle;
    margin: -.4em .4em -.4em -.05em;
    flex: none
}

.EventStatusLabel_component__5Ur4L {
    line-height: inherit;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .3px
}

.EventStatusLabel_component__5Ur4L.EventStatusLabel_isOnDemandType__T1_f9 {
    color: #e23a4e
}

.EventStatusLabel_component__5Ur4L.EventStatusLabel_isUpcomingType__MFba9 {
    color: #47ccc4
}

.EventStatusLabel_component__5Ur4L.EventStatusLabel_isPastType__nMrvn {
    color: #f4b63d
}

.GlossaryArticlesGroup_component__dlJYV {
    display: flex;
    flex-direction: column;
    gap: 20px;
    scroll-margin-top: var(--scroll-offset, 0)
}

.GlossaryArticlesGroup_component__dlJYV+.GlossaryArticlesGroup_component__dlJYV {
    margin-top: 2.5rem
}

.GlossaryArticlesGroup_label__Tu4E3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    flex: none;
    font-size: 4rem;
    font-weight: 700;
    color: #b2e032
}

.GlossaryArticlesGroup_articles__VPrP5 {
    flex: 1 1
}

@media only screen and (min-width:40.0625em) {
    .GlossaryArticlesGroup_component__dlJYV {
        flex-direction: row;
        gap: 40px
    }
    .GlossaryArticlesGroup_component__dlJYV+.GlossaryArticlesGroup_component__dlJYV {
        margin-top: 5rem
    }
    .GlossaryArticlesGroup_label__Tu4E3 {
        width: 128px;
        height: 128px;
        font-size: 6rem;
        position: sticky;
        top: 204px
    }
}

@media only screen and (min-width:40.0625em)and (min-width:calc(55.375em - 1px)) {
    .GlossaryArticlesGroup_label__Tu4E3 {
        top: 174px
    }
}

@media only screen and (min-width:73.0625em) {
    .GlossaryArticlesGroup_label__Tu4E3 {
        width: 160px;
        height: 160px;
        top: 154px;
        font-size: 8rem
    }
}

.PoweredByContentKing_component__lQw_U {
    display: inline-flex;
    align-items: center;
    font-size: .625rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .3px;
    white-space: pre
}

.PoweredByContentKing_brand__v63DF {
    font-weight: 700
}

@media only screen and (min-width:40.0625em) {
    .PoweredByContentKing_brand__v63DF {
        color: #6c2770
    }
}

.OverviewSection_component__go7Wn {
    padding: 30px 20px;
    font-size: 1rem;
    background-color: var(--bg, transparent);
    scroll-margin-top: var(--scroll-offset, 0)
}

.OverviewSection_component__go7Wn+.OverviewSection_component__go7Wn {
    padding-top: 10px
}

.OverviewSection_container__rFa32 {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto
}

.OverviewSection_filter__xk6X_,
.OverviewSection_heading__dYXEa,
.OverviewSection_leadParagraph__QvhJd {
    text-align: center
}

.OverviewSection_heading__dYXEa {
    margin-bottom: 30px
}

.OverviewSection_filter__xk6X_ {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px
}

.OverviewSection_leadParagraph__QvhJd {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 860px
}

.OverviewSection_filter__xk6X_+.OverviewSection_leadParagraph__QvhJd {
    margin-top: -10px
}

.OverviewSection_pagination__mOXqI {
    margin-top: 40px;
    text-align: center
}

.OverviewSection_sidebar__tObiz {
    margin-top: 40px
}

.OverviewSection_breadcrumbsNavigation__tP4Wt {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

@media only screen and (min-width:40.0625em) {
    .OverviewSection_component__go7Wn {
        padding: 60px 30px;
        font-size: 1.25rem
    }
    .OverviewSection_component__go7Wn+.OverviewSection_component__go7Wn {
        padding-top: 0
    }
    .OverviewSection_heading__dYXEa {
        margin-bottom: 40px
    }
    .OverviewSection_filter__xk6X_ {
        margin-bottom: 50px
    }
    .OverviewSection_leadParagraph__QvhJd {
        margin-top: 40px
    }
    .OverviewSection_pagination__mOXqI {
        margin-top: 50px
    }
    .OverviewSection_sidebar__tObiz {
        margin-top: 60px
    }
    .OverviewSection_breadcrumbsNavigation__tP4Wt {
        margin-bottom: 40px;
        margin-top: -10px
    }
}

@media only screen and (min-width:73.0625em) {
    .OverviewSection_component__go7Wn {
        padding: 80px 30px
    }
    .OverviewSection_component__go7Wn+.OverviewSection_component__go7Wn {
        margin-top: -10px
    }
    .OverviewSection_container__rFa32 {
        max-width: 1180px
    }
    .OverviewSection_overview__94xfc {
        display: flex;
        gap: 40px
    }
    .OverviewSection_body__dfDft {
        align-self: flex-start;
        flex: 1 1
    }
    .OverviewSection_sidebar__tObiz {
        flex: 0 0 380px;
        margin-top: 0
    }
    .OverviewSection_breadcrumbsNavigation__tP4Wt {
        margin-top: -20px
    }
}

.QuotesSection_label__yV4HO {
    text-wrap: balance;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.3;
    text-align: center
}

@media only screen and (min-width:40.0625em) {
    .QuotesSection_label__yV4HO {
        margin-bottom: 30px;
        font-size: 2.625rem
    }
}

.ResourceDownloadSection_component__A_Oou {
    text-align: center
}

.ResourceDownloadSection_blurb___nSEr {
    margin-top: 10px;
    max-width: 846px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem
}

.ResourceDownloadSection_ctaButton__FIrSa {
    margin-top: 20px;
    font-size: 1rem
}

.ResourceDownloadSection_imagePart__qjdEd {
    display: flex;
    justify-content: center;
    margin-top: 30px
}

@media only screen and (min-width:40.0625em) {
    .ResourceDownloadSection_blurb___nSEr {
        margin-top: 20px;
        font-size: 1.25rem;
        line-height: 1.6
    }
    .ResourceDownloadSection_ctaButton__FIrSa {
        margin-top: 30px
    }
    .ResourceDownloadSection_imagePart__qjdEd {
        margin-top: 40px
    }
}

@media only screen and (min-width:73.0625em) {
    .ResourceDownloadSection_component__A_Oou {
        display: flex;
        align-items: center;
        gap: 60px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left
    }
    .ResourceDownloadSection_blurb___nSEr {
        max-width: none;
        margin-left: 0;
        margin-right: 0
    }
    .ResourceDownloadSection_contentPart__dUbTu {
        flex: 0 1 580px
    }
    .ResourceDownloadSection_imagePart__qjdEd {
        position: relative;
        display: flex;
        justify-content: ceter;
        align-items: center;
        margin-top: 0;
        flex: 1 1;
        min-height: 440px
    }
    .ResourceDownloadSection_imagePart__qjdEd:after {
        position: absolute;
        top: 0;
        left: -150px;
        content: "";
        display: block;
        width: 130px;
        height: 128px;
        background: url(/_next/static/chunks/arrow-right--black-cartoon3-505c85da68ed3f18.svg) no-repeat 50% 50%;
        background-size: cover
    }
    .ResourceDownloadSection_ctaButton__FIrSa {
        margin-top: 40px
    }
}

.RichTextContentSection_component__9mes_ {
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
    font-size: 1rem
}

@media only screen and (min-width:40.0625em) {
    .RichTextContentSection_component__9mes_ {
        font-size: 1.25rem
    }
}

.SimpleEmbeddedFormSection_component__QNbv7 {
    color: #000;
    padding: 60px 60px 30px;
    background-color: var(--bg, transparent);
    scroll-margin-top: var(--scroll-offset, 0)
}

.SimpleEmbeddedFormSection_component__QNbv7.SimpleEmbeddedFormSection_isDark__D1iKD {
    color: #fff;
    background-color: #000
}

.SimpleEmbeddedFormSection_container__cEf0T {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto
}

.SimpleEmbeddedFormSection_container__cEf0T:before {
    margin-left: 20px;
    width: 80px;
    height: 120px;
    background-image: url(/_next/static/chunks/form-right-27240640a183344d.svg);
    background-repeat: no-repeat
}

.SimpleEmbeddedFormSection_label__Eaoiy {
    text-wrap: balance;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.215;
    text-align: center;
    font-family: var(--font-heading)
}

.SimpleEmbeddedFormSection_accolades__l2yPh {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px
}

.SimpleEmbeddedFormSection_ctaSection__A9yDP {
    margin-left: -5px;
    margin-right: -5px;
    text-align: center
}

.SimpleEmbeddedFormSection_form__BfpKa {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width:40.0625em) {
    .SimpleEmbeddedFormSection_label__Eaoiy {
        margin-bottom: 20px;
        font-size: 1.75rem
    }
    .SimpleEmbeddedFormSection_container__cEf0T.SimpleEmbeddedFormSection_hasBgImage__7iRPE {
        display: flex;
        justify-content: space-between
    }
    .SimpleEmbeddedFormSection_container__cEf0T.SimpleEmbeddedFormSection_hasBgImage__7iRPE:before {
        position: relative;
        content: "";
        display: block;
        margin-right: 20px;
        width: 140px;
        height: 120px;
        background-image: url(/_next/static/chunks/form-left-0056bb8082e4f198.svg);
        background-repeat: no-repeat
    }
    .SimpleEmbeddedFormSection_container__cEf0T.SimpleEmbeddedFormSection_hasBgImage__7iRPE:after {
        position: relative;
        content: "";
        display: block;
        margin-left: 30px;
        width: 80px;
        height: 120px;
        background-image: url(/_next/static/chunks/form-right-27240640a183344d.svg);
        background-repeat: no-repeat
    }
}

.TeamShowcaseSection_image__aWIdV {
    width: 100%;
    height: auto
}

.AttachedCaption_caption__spSEK {
    margin-bottom: 20px
}

.AttachedCaption_isCompact__K0VIZ .AttachedCaption_caption__spSEK {
    margin-bottom: 15px
}

@media only screen and (min-width:40.0625em) {
    .AttachedCaption_caption__spSEK {
        margin-bottom: 30px
    }
    .AttachedCaption_isCompact__K0VIZ .AttachedCaption_caption__spSEK {
        margin-bottom: 15px
    }
}

.AttachedFooter_component__AcJLF {
    margin-top: 20px;
    text-align: center
}

.AttachedHeading_heading__hhsBv {
    margin-bottom: 20px;
    text-align: center
}

@media only screen and (min-width:40.0625em) {
    .AttachedHeading_heading__hhsBv {
        margin-bottom: 30px
    }
}

.Container_component__Ok3y1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container-mobile-max-width, "100%");
    height: var(--container-mobile-height, "auto")
}

@media only screen and (min-width:40.0625em) {
    .Container_component__Ok3y1 {
        max-width: var(--container-tablet-max-width, "100%");
        height: var(--container-tablet-height, "auto")
    }
}

@media only screen and (min-width:73.0625em) {
    .Container_component__Ok3y1 {
        max-width: var(--container-desktop-max-width, "100%");
        height: var(--container-desktop-height, "auto")
    }
}

.Grid_component__QrO5r {
    display: grid;
    max-width: 100%;
    grid-gap: 20px;
    gap: 20px;
    grid-gap: var(--grid-mobile-gap-size, 20px);
    gap: var(--grid-mobile-gap-size, 20px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(var(--grid-mobile-columns, 1), 1fr)
}

.Grid_cell__Ao0dj {
    min-width: 0
}

@media only screen and (min-width:40.0625em) {
    .Grid_component__QrO5r {
        gap: var(--grid-tablet-gap-size, 20px);
        grid-template-columns: repeat(var(--grid-tablet-columns, 2), 1fr)
    }
}

@media only screen and (min-width:73.0625em) {
    .Grid_component__QrO5r {
        gap: var(--grid-desktop-gap-size, 20px);
        grid-template-columns: repeat(var(--grid-desktop-columns, 3), 1fr)
    }
}

.InlineList_component__Yj_ZB {
    display: flex;
    -moz-column-gap: var(--list-mobile-gap-size, 20px);
    column-gap: var(--list-mobile-gap-size, 20px);
    justify-content: center;
    flex-wrap: wrap
}

.InlineList_item___fXwl {
    min-width: 280px;
    max-width: 320px;
    margin-bottom: var(--list-mobile-gap-size, 20px)
}

@media only screen and (min-width:40.0625em) {
    .InlineList_component__Yj_ZB {
        -moz-column-gap: var(--list-tablet-gap-size, 20px);
        column-gap: var(--list-tablet-gap-size, 20px)
    }
    .InlineList_item___fXwl {
        margin-bottom: var(--list-tablet-gap-size, 20px)
    }
}

@media only screen and (min-width:73.0625em) {
    .InlineList_component__Yj_ZB {
        -moz-column-gap: var(--list-desktop-gap-size, 20px);
        column-gap: var(--list-desktop-gap-size, 20px)
    }
    .InlineList_component__Yj_ZB.InlineList_isMedium__0CYDS {
        padding: 0 50px
    }
    .InlineList_item___fXwl {
        margin-bottom: var(--list-desktop-gap-size, 20px)
    }
}

.List_component__OCm_E {
    display: block;
    -moz-columns: var(--list-mobile-columns, 1);
    columns: var(--list-mobile-columns, 1);
    -moz-column-gap: var(--list-mobile-gap-size, 20px);
    column-gap: var(--list-mobile-gap-size, 20px)
}

.List_item__wnzCC {
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid
}

.List_item__wnzCC:not(:last-child) {
    margin-bottom: 20px;
    margin-bottom: var(--list-mobile-gap-size, 20px)
}

.List_hasDivider__bWD3Z .List_item__wnzCC:not(:last-child) {
    padding-bottom: 20px;
    padding-bottom: var(--list-mobile-gap-size, 20px);
    border-bottom: 1px solid #898989
}

.List_hasDashedDivider__Hqtdp .List_item__wnzCC:not(:last-child) {
    border-bottom-style: dashed
}

.List_hasDottedDivider__s5LN5 .List_item__wnzCC:not(:last-child) {
    border-bottom-style: dotted
}

.List_showMoreCta__UP2HI {
    margin-top: calc(1.5*var(--list-mobile-gap-size, 20px));
    display: flex;
    justify-content: center
}

.List_showMoreCta__UP2HI.List_hasDivider__bWD3Z {
    margin-top: calc(2*var(--list-mobile-gap-size, 20px))
}

@media only screen and (min-width:40.0625em) {
    .List_component__OCm_E {
        -moz-columns: var(--list-tablet-columns, 1);
        columns: var(--list-tablet-columns, 1);
        -moz-column-gap: var(--list-tablet-gap-size, 20px);
        column-gap: var(--list-tablet-gap-size, 20px)
    }
    .List_item__wnzCC:not(:last-child) {
        margin-bottom: var(--list-tablet-gap-size, 20px)
    }
    .List_hasDivider__bWD3Z .List_item__wnzCC:not(:last-child) {
        padding-bottom: var(--list-tablet-gap-size, 20px)
    }
    .List_showMoreCta__UP2HI {
        margin-top: calc(1.5*var(--list-tablet-gap-size, 20px))
    }
    .List_showMoreCta__UP2HI.List_hasDivider__bWD3Z {
        margin-top: calc(2*var(--list-tablet-gap-size, 20px))
    }
}

@media only screen and (min-width:73.0625em) {
    .List_component__OCm_E {
        -moz-columns: var(--list-desktop-columns, 1);
        columns: var(--list-desktop-columns, 1);
        -moz-column-gap: var(--list-desktop-gap-size, 20px);
        column-gap: var(--list-desktop-gap-size, 20px)
    }
    .List_item__wnzCC:not(:last-child) {
        margin-bottom: var(--list-desktop-gap-size, 20px)
    }
    .List_hasDivider__bWD3Z .List_item__wnzCC:not(:last-child) {
        padding-bottom: var(--list-desktop-gap-size, 20px)
    }
    .List_showMoreCta__UP2HI {
        margin-top: calc(1.5*var(--list-desktop-gap-size, 20px))
    }
    .List_showMoreCta__UP2HI.List_hasDivider__bWD3Z {
        margin-top: calc(2*var(--list-desktop-gap-size, 20px))
    }
}

.TabSection_component__IO08n {
    padding: 9px 18px 20px
}

.TabSection_headline__2RTu2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.215
}

.TabSection_title__D1OVJ {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.215
}

.TabSection_description__ecVUM {
    max-width: 60ch;
    font-size: .75rem
}

.TabSection_poster__T_mKC {
    margin-top: 20px;
    display: flex;
    justify-content: center
}

.TabSection_image__y1NH0 {
    border: solid #000;
    border-width: 2px 2px 5px;
    background-color: #fff
}

.TabSection_ctaElement__3NjGI {
    margin-top: 10px;
    font-size: .8125rem
}

@media only screen and (max-width:40em) {
    .TabSection_title__D1OVJ {
        display: none
    }
}

@media only screen and (min-width:40.0625em) {
    .TabSection_component__IO08n {
        padding: 35px 45px
    }
    .TabSection_description__ecVUM {
        font-size: 1.25rem
    }
    .TabSection_poster__T_mKC {
        margin-top: 35px;
        margin-right: -45px;
        justify-content: flex-end
    }
    .TabSection_image__y1NH0 {
        border-width: 2px 0 5px 2px
    }
    .TabSection_ctaElement__3NjGI {
        margin-top: 20px;
        font-size: 1.125rem
    }
}

@media only screen and (min-width:73.0625em) {
    .TabSection_component__IO08n {
        display: flex;
        align-items: center;
        gap: 80px;
        padding: 45px 80px
    }
    .TabSection_content__RPKcR {
        flex: 1 1
    }
    .TabSection_poster__T_mKC {
        margin-top: 0;
        flex: none;
        margin-right: -80px
    }
}

.Caption_component__bwUUr {
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3
}

.Caption_component__bwUUr:after,
.Caption_component__bwUUr:before {
    flex: 1 1;
    display: block;
    content: "";
    height: 2px;
    min-width: 20px;
    background: #898989
}

.Caption_component__bwUUr:before {
    margin-right: 5px
}

.Caption_component__bwUUr:after {
    margin-left: 5px
}

@media only screen and (min-width:40.0625em) {
    .Caption_component__bwUUr {
        font-size: 1.5rem
    }
    .Caption_component__bwUUr:before {
        margin-right: 10px
    }
    .Caption_component__bwUUr:after {
        margin-left: 10px
    }
}

.Code_component__YQoL6 {
    padding: .17em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    word-wrap: break-word;
    font-size: .8em;
    font-family: Menlo, monospace;
    font-weight: 400;
    overflow-wrap: break-word;
    -webkit-hyphens: none;
    hyphens: none;
    white-space: pre-wrap;
    -moz-tab-size: 4;
    tab-size: 4;
    color: #a42ec3;
    background: #efefef;
    border: 1px solid hsla(0, 0%, 54%, .2)
}

.HeadlineMark_component__K23OV {
    background-color: inherit
}

.HeadlineMark_component__K23OV.HeadlineMark_lime__CrtbO {
    color: #b2e032
}

.HeadlineMark_component__K23OV.HeadlineMark_turquoise__UIfWz {
    color: #47ccc4
}

.HeadlineMark_component__K23OV.HeadlineMark_orange__Xelzq {
    color: #f4b63d
}

.HeadlineMark_component__K23OV.HeadlineMark_green__ttKtn {
    color: #89c32e
}

.HeadlineMark_component__K23OV.HeadlineMark_purple__IgIYQ {
    color: #6c2770
}

.HeadlineMark_component__K23OV.HeadlineMark_teal__y0jNS {
    color: #018f82
}

.LeadParagraph_component__sPzJ0 {
    font-size: 1.2em;
    font-weight: 400
}

.Mark_component__NoRwT {
    padding-left: .17em;
    padding-right: .17em;
    background: rgba(71, 204, 196, .4)
}

.RichTextHeading_heading__EC4rt {
    position: relative;
    scroll-margin-top: calc(var(--scroll-offset, 0) + 20px)
}

.RichTextHeading_anchorLink__pIgqi {
    position: absolute;
    left: -40px;
    top: .6425em;
    margin-top: -13px;
    display: none;
    width: 40px;
    height: 26px;
    text-decoration: none;
    background: url(/_next/static/chunks/anchor-e41d9afd76495559.svg) no-repeat 40% 50%;
    background-size: contain;
    border: 0;
    opacity: .7;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-out
}

.RichTextHeading_level1__tJb76 .RichTextHeading_anchorLink__pIgqi {
    top: .625em
}

.RichTextHeading_anchorLink__pIgqi:focus,
.RichTextHeading_anchorLink__pIgqi:hover {
    opacity: 1
}

@media only screen and (min-width:79.375em) {
    .RichTextHeading_heading__EC4rt:hover .RichTextHeading_anchorLink__pIgqi {
        display: block
    }
}

.Term_tooltip__8VNIW {
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    top: 100%;
    padding-top: 10px;
    z-index: 1
}

.Term_component__tB36_ {
    position: relative;
    opacity: .5;
    transition-property: opacity;
    transition-duration: .15s;
    transition-timing-function: ease-out
}

.Term_component__tB36_:focus,
.Term_component__tB36_:focus-within,
.Term_component__tB36_:hover {
    opacity: 1
}

.Term_component__tB36_:focus .Term_tooltip__8VNIW,
.Term_component__tB36_:focus-within .Term_tooltip__8VNIW,
.Term_component__tB36_:hover .Term_tooltip__8VNIW {
    display: block
}

.Term_tooltipBubble__muCRN {
    display: block;
    position: relative;
    padding: 10px;
    font-size: .875rem;
    font-weight: 400;
    background: #060606;
    color: #fff
}

.Term_tooltipBubble__muCRN:before {
    content: "";
    position: absolute;
    border-bottom: 8px solid #060606;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 50%;
    margin-left: -8px;
    top: -8px
}

.Term_term__m2QVf {
    text-decoration: none;
    font-style: normal;
    border-bottom: 1px dotted;
    cursor: help;
    color: currentcolor
}

@media only screen and (min-width:40.0625em) {
    .Term_term__m2QVf {
        white-space: nowrap
    }
}

@media only screen and (min-width:73.0625em) {
    .Term_tooltip__8VNIW {
        width: 280px;
        margin-left: -140px
    }
    .Term_tooltipBubble__muCRN {
        padding: 12px
    }
}

.Spacer_component__Kq5vf {
    padding: var(--spacer-mobile-t-gap, 0) var(--spacer-mobile-r-gap, 0) var(--spacer-mobile-b-gap, 0) var(--spacer-mobile-l-gap, 0);
    max-width: var(--spacer-mobile-max-width, 100%);
    text-align: var(--spacer-text-align, left)
}

.Spacer_isCenteredHorizontally__GfGuO {
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width:40.0625em) {
    .Spacer_component__Kq5vf {
        padding: var(--spacer-tablet-t-gap, 0) var(--spacer-tablet-r-gap, 0) var(--spacer-tablet-b-gap, 0) var(--spacer-tablet-l-gap, 0);
        max-width: var(--spacer-tablet-max-width, 100%)
    }
}

@media only screen and (min-width:73.0625em) {
    .Spacer_component__Kq5vf {
        padding: var(--spacer-desktop-t-gap, 0) var(--spacer-desktop-r-gap, 0) var(--spacer-desktop-b-gap, 0) var(--spacer-desktop-l-gap, 0);
        max-width: var(--spacer-desktop-max-width, 100%)
    }
}

.Visibility_component__kd61P {
    display: inherit
}

@media only screen and (max-width:40em) {
    .Visibility_component__kd61P.Visibility_isHiddenOnMobile__uAMgz {
        display: none
    }
    .Visibility_component__kd61P.Visibility_isStickyOnMobile__vBPpj {
        position: sticky;
        top: calc(60px + var(--sticky-mobile-top-offset, 0))
    }
}

@media only screen and (min-width:40.0625em)and (max-width:73em) {
    .Visibility_component__kd61P.Visibility_isHiddenOnTablet___o3TP {
        display: none
    }
    .Visibility_component__kd61P.Visibility_isStickyOnTablet__ehlWU {
        position: sticky;
        top: calc(80px + var(--sticky-tablet-top-offset, 0))
    }
}

@media only screen and (min-width:40.0625em)and (max-width:73em)and (max-width:55.375em) {
    .Visibility_component__kd61P.Visibility_isStickyOnTablet__ehlWU {
        position: sticky;
        top: calc(140px + var(--sticky-tablet-top-offset, 0))
    }
}

@media only screen and (min-width:73.0625em) {
    .Visibility_component__kd61P.Visibility_isHiddenOnDesktop__byOCY {
        display: none
    }
    .Visibility_component__kd61P.Visibility_isStickyOnDesktop__JlMGq {
        position: sticky;
        top: calc(80px + var(--sticky-desktop-top-offset, 0))
    }
}

*,
:after,
:before {
    box-sizing: border-box
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

ol[role=list],
ul[role=list] {
    list-style: none
}

html:focus-within {
    scroll-behavior: smooth
}

body {
    min-height: 100vh;
    text-rendering: optimizespeed;
    line-height: 1.5
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

img,
picture {
    max-width: 100%;
    display: block;
    block-size: auto
}

button,
input,
select,
textarea {
    font: inherit
}

[inert] {
    pointer-events: none;
    cursor: default
}

[inert],
[inert] * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media(prefers-reduced-motion:reduce) {
    html:focus-within {
        scroll-behavior: auto
    }
    *,
    :after,
    :before {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important
    }
}

@font-face {
    font-family: Visuelt;
    src: url(/_next/static/chunks/visuelt-regular-8c350aa61e4b3a06.woff2) format("woff2"), url(/_next/static/media/visuelt-regular.095a7022.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: fallback
}

@font-face {
    font-family: Visuelt;
    src: url(/_next/static/chunks/visuelt-regular-italic-007f718c8870a952.woff2) format("woff2"), url(/_next/static/media/visuelt-regular-italic.c531eedb.woff) format("woff");
    font-style: italic;
    font-weight: 400;
    font-display: fallback
}

@font-face {
    font-family: Visuelt;
    src: url(/_next/static/chunks/visuelt-bold-d855db9be6644428.woff2) format("woff2"), url(/_next/static/media/visuelt-bold.3ea19333.woff) format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: fallback
}

@font-face {
    font-family: Saira Extra Condensed;
    src: url(/_next/static/media/SairaExtraCondensed-ExtraBold.035a1745.ttf) format("truetype");
    font-style: italic;
    font-weight: 800;
    font-display: fallback
}

@font-face {
    font-family: Saira Condensed;
    src: url(/_next/static/media/SairaCondensed-Bold.bec6f1ac.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
    font-display: fallback
}

@font-face {
    font-family: Saira Condensed;
    src: url(/_next/static/media/SairaCondensed-ExtraBold.ee022641.ttf) format("truetype");
    font-style: italic;
    font-weight: 800;
    font-display: fallback
}

body,
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-family: Visuelt, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #060606
}

:root {
    --scroll-offset: 59px
}

@media only screen and (min-width:40.0625em) {
    :root {
        --scroll-offset: 79px
    }
}

@media only screen and (min-width:40.0625em)and (max-width:55.375em) {
    :root {
        --scroll-offset: 109px
    }
}

img {
    max-width: 100%;
    height: auto;
    interpolation-mode: bicubic
}

mark {
    background: rgba(71, 204, 196, .4)
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.AnnouncementToast_component__gRYa_ {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80px;
    overflow: auto;
    bottom: 20px;
    left: 20px;
    width: 100%;
    max-width: 300px;
    max-width: min(300px, 100vw - 40px);
    padding: 17px 15px 15px;
    z-index: 2850;
    background-color: #f4b63d;
    border: solid #000;
    border-width: 2px 2px 5px;
    color: #060606
}

.AnnouncementToast_component__gRYa_.AnnouncementToast_hasOrangeVariant__Zvl6u {
    background-color: #f4b63d
}

.AnnouncementToast_component__gRYa_.AnnouncementToast_hasTurquoiseVariant__NgBcu {
    background-color: #47ccc4
}

.AnnouncementToast_announcement__Sy99b {
    line-height: 1.285;
    font-weight: 700;
    font-size: 1.0625rem
}

.AnnouncementToast_description__RipID {
    margin-top: 4px;
    font-size: .8125rem
}

.AnnouncementToast_ctaButton__fvIxP {
    margin-top: 10px
}

.AnnouncementToast_closeButton__CE8LS {
    position: absolute;
    top: 2px;
    right: 2px;
    box-sizing: border-box;
    display: inline-flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
    padding: 0;
    line-height: 1;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-out
}

.AnnouncementToast_closeButton__CE8LS:focus,
.AnnouncementToast_closeButton__CE8LS:hover {
    background-color: hsla(0, 0%, 100%, .5)
}

@media only screen and (min-width:40.0625em) {
    .AnnouncementToast_component__gRYa_ {
        padding: 20px 28px 18px;
        bottom: 40px;
        left: 40px;
        max-width: 450px
    }
    .AnnouncementToast_announcement__Sy99b {
        font-size: 1.5rem
    }
    .AnnouncementToast_description__RipID {
        margin-top: 8px;
        font-size: 1rem
    }
    .AnnouncementToast_ctaButton__fvIxP {
        margin-top: 15px
    }
    .AnnouncementToast_closeButton__CE8LS {
        top: 7px;
        right: 7px
    }
}

html {
    scroll-behavior: auto
}

@media only screen and (min-width:40.0625em) {
    html {
        scroll-behavior: smooth
    }
}