.Link_component__z2xEn {
    text-decoration: none
}

.Link_link__oR4X_ {
    line-height: inherit;
    font-weight: 400;
    overflow-wrap: break-word;
    -webkit-hyphens: none;
    hyphens: none;
    color: #89c32e;
    border-bottom: 1px solid rgba(137, 195, 46, .5);
    cursor: pointer
}

.Link_isDark__802Lj .Link_link__oR4X_ {
    color: #060606;
    border-bottom: 1px solid rgba(6, 6, 6, .5)
}

.Link_isLight__Gyg34 .Link_link__oR4X_ {
    color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 100%, .5)
}

.Link_isDark__802Lj .Link_link__oR4X_:focus,
.Link_isDark__802Lj .Link_link__oR4X_:hover,
.Link_link__oR4X_:focus,
.Link_link__oR4X_:hover {
    color: #5b9007;
    border-color: rgba(91, 144, 7, .5)
}

.Link_isLight__Gyg34 .Link_link__oR4X_:focus,
.Link_isLight__Gyg34 .Link_link__oR4X_:hover {
    color: #b2e032;
    border-color: rgba(178, 224, 50, .5)
}

.Link_icon__KKTO5 {
    display: inline-flex;
    vertical-align: middle;
    margin-top: -10px;
    margin-bottom: -10px;
    line-height: inherit
}

.Link_icon__KKTO5:first-child {
    margin-right: .5em
}

.Link_icon__KKTO5:last-child {
    margin-left: .5em
}

.Link_component__z2xEn.Link_isExternal__VsYm0 .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]) .Link_link__oR4X_ {
    padding-right: 1.3em;
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiM4OWMzMmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K) no-repeat 100% 50%;
    background-position: calc(100% - 2px) 50%;
    background-size: .9em .9em
}

.Link_component__z2xEn.Link_isExternal__VsYm0:focus .Link_link__oR4X_,
.Link_component__z2xEn.Link_isExternal__VsYm0:hover .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]):focus .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]):hover .Link_link__oR4X_ {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiM4OWMzMmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K), url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiM1YjkwMDciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K);
    background-position: -9999px 50%, calc(100% - 2px) 50%
}

.Link_component__z2xEn.Link_isExternal__VsYm0.Link_isDark__802Lj .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]).Link_isDark__802Lj .Link_link__oR4X_ {
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiMwNjA2MDYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K) no-repeat 100% 50%;
    background-position: calc(100% - 2px) 50%;
    background-size: .9em .9em
}

.Link_component__z2xEn.Link_isExternal__VsYm0.Link_isLight__Gyg34 .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]).Link_isLight__Gyg34 .Link_link__oR4X_ {
    background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K) no-repeat 100% 50%;
    background-position: calc(100% - 2px) 50%;
    background-size: .9em .9em
}

.Link_component__z2xEn.Link_isExternal__VsYm0.Link_isDark__802Lj:focus .Link_link__oR4X_,
.Link_component__z2xEn.Link_isExternal__VsYm0.Link_isDark__802Lj:hover .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]).Link_isDark__802Lj:focus .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]).Link_isDark__802Lj:hover .Link_link__oR4X_ {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiMwNjA2MDYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K), url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiM1YjkwMDciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K);
    background-position: -9999px 50%, calc(100% - 2px) 50%
}

.Link_component__z2xEn.Link_isExternal__VsYm0.Link_isLight__Gyg34:focus .Link_link__oR4X_,
.Link_component__z2xEn.Link_isExternal__VsYm0.Link_isLight__Gyg34:hover .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]).Link_isLight__Gyg34:focus .Link_link__oR4X_,
.Link_component__z2xEn[href^=http]:not([href*="conductor.com"], [href^="https://cdn.sanity.io/"]).Link_isLight__Gyg34:hover .Link_link__oR4X_ {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNmZmYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K), url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSJub25lIiBoZWlnaHQ9IjE0IiB2aWV3Qm94PSIwIDAgMTQgMTQiIHdpZHRoPSIxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBzdHJva2U9IiNiMmUwMzIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjE2NjY3Ij48cGF0aCBkPSJtMTEuODMgOC45NjAwMnYzLjM1OTk4aC0xMC4wOHYtMTAuMDc5OThoMy4zNiIvPjxwYXRoIGQ9Im0xMi4zMzM3IDEuNjc5OTktNS41NDM0OCA1LjU0MzQ0Ii8+PHBhdGggZD0ibTcuMzQ5OTggMS42Nzk5OWg1LjA0MDAyIi8+PHBhdGggZD0ibTEyLjM5IDEuNjc5OTl2NS4wNCIvPjwvZz48L3N2Zz4K);
    background-position: -9999px 50%, calc(100% - 2px) 50%
}